.textareaContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.container {
  border: 2px solid var(--bg-secondary);
  padding: 10px;
  border-radius: 22px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.marginTop {
  margin-top: 33px;
}

.none {
  display: none;
}
