%inputs {
  background: transparent;
  width: 90%;
  border: none;
  outline: 0px none transparent;
  color: var(--fg);
  &:focus {
    outline: 0;
  }
}

.textarea {
  resize: none;
  @extend %inputs;
}

.input {
  @extend %inputs;
}
