.modal {
  background: var(--bg-primary);
  border-radius: 24px;
  border: 0.5px solid var(--border);
  min-width: 240px;
  margin: 0 30px;
  max-width: 450px;
  width: 100%;
  height: fit-content;
  padding: 26px;
  position: relative;
  max-height: 100vh;
}

.close {
  position: absolute;
  top: 26px;
  right: 24px;
  width: 20px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  border: none;
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    height: 20px;
    width: 1px;
    background-color: var(--fg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &::before {
    transform: rotate(45deg);
  }
}

.textareaContainer {
  margin: 10px 0;
  padding-top: 10px;
  border-top: 1px solid var(--border);
}

.overlay {
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(6px);
  background: var(--bg-overlay);

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
