.done {
  text-decoration: line-through;
}

.container {
  background: var(--bg-secondary);
  border-radius: 25px;
  padding: 10px 20px;
  display: flex;
  max-width: 600px;
  overflow-wrap: anywhere;
  gap: 15px;
  margin-top: 10px;
}

.content {
  width: 100%;
}

.title {
  height: 45px;
  overflow: hidden;
}

h2,
p {
  padding: 0 0 8px 0;
  margin: 0;
}
