.done {
  text-decoration: line-through;
}

.container {
  background: var(--bg-secondary);
  border-radius: 25px;
  padding: 10px 15px;
  display: flex;
  overflow-wrap: anywhere;
  gap: 15px;
}

.content {
  width: 100%;
}

.title {
  //height: 45px;
  overflow: hidden;
  font-size: 1em;
}
