%inputs {
  background: transparent;
  width: 90%;
  height: 23px;
  border: none;
  outline: 0px none transparent;
  color: var(--fg);
  &:focus {
    outline: 0;
  }
}

%hint {
  font-size: 12px;
}

.textareaContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hint {
  @extend %hint;
  color: #c2c2c2;
}

.errorHint {
  @extend %hint;
  color: #e65656;
}

.textarea {
  resize: none;
  margin: 0 0 5px 0;
  @extend %inputs;
}

.input {
  @extend %inputs;
}
