:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  --dark: #181820;
  --gray: #21212b;
  --peach: #fc76a1;
  --violet: #e479cd;
  --light: #d2d2d3;
  --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: var(--dark);
    --bg-secondary: var(--gray);
    --bg-overlay: #0000003f;
    --fg: var(--light);
    --check: linear-gradient(44deg, var(--violet), var(--peach)), - webkit-linear-gradient(44deg, var(--violet), var(--peach));
    --border: #39394e;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary: var(--white);
    --bg-secondary: var(--light);
    --bg-overlay: #0000003f;
    --fg: var(--gray);
    --check: linear-gradient(44deg, var(--violet), var(--peach)), - webkit-linear-gradient(44deg, var(--violet), var(--peach));
    --border: #7e7e97;
  }
}
